img {
	width: 30%;
	margin: 1.66%; /*6 margins (one for each side of the img) and 3 imgs @ 30% ea. leaves 10% for each margin.10/6=1.66 */
	float: left;
}
p { 
	font-family: Raleway;
	margin-left: 1.66%;
	font-weight: 800;
	font-size: 30px;
	text-transform: uppercase;
	width: 40%;
	border-bottom: 4px solid rgba(241,241,241,.5);
	padding-bottom: 20px;
}
.artistCredit {
	font-family: Raleway;
	margin-left: 1.66%;
	text-transform: uppercase;
	width: 40%;
	border: none;
	padding-bottom: 0;
	color:  rgba(100,100,100,.8);
}
    a {
	        padding: 10px;
	    }